* {
  margin: 0;
}

#form {
  padding: 3rem;
  text-align: center;
}

.input {
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr;
}

.list {
  display: flex;
}

.add-book {
  display: none;
}

.contact-div {
  display: none;
}
